@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=DM+Serif+Display:ital@0;1&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.font-cormorant-regular {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-style: normal;
}

.font-cormorant-bold {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-style: normal;
}

.font-noto-regular {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.font-noto-italic-bold {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-style: italic;
}
.font-cormorant-italic {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-style: italic;
}
.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
}

